pre {
  border: 1px dotted gray;
  background-color: #000000;
  color: #00ff1e;
  padding: 0.5em;
}
code { font-family: monospace; }
h1 a, h2 a, h3 a, h4 a, h5 a { text-decoration: none; color: #00ff1e; }
a img {border: none;}
h1, h2, h3, h4, h5 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #00ff1e;
  clear: both;
}
h1 { font-size: 130%; border-bottom: 1px dotted #00ff1e; }
h2 { font-size: 110%; border-bottom: 1px dotted #00d018; }
h3 { font-size: 95%; }
h4, h5 { font-size: 90%; font-style: italic; }

h1.title {
  font-size: 200%;
  font-weight: bold;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  text-align: left;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  color: #00ff1e;
}


body {
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 15em;
  max-width: 50em;
  border-left: 1px solid #00ff1e;
  border-right: 1px solid #00ff1e;
  color: #009511; 
  font-family: 'Courier New', Courier, monospace;
  font-size: 90%;
  line-height: 140%;
  background-color: #000000;
  cursor: auto;
  /*cursor: url("pointer.ico") 16 16, auto;*/
}

a{
    color: #b90097;
    text-decoration: none;
}

a:hover{
    color: #600098;
    /*cursor: crosshair;*/
    
}

.footer {
  padding-top: 1em;
  font-size: 70%;
  color: gray;
  text-align: center;
}

.sidebar {
  position: fixed;
  left: 0; top: 0;
  width: 13em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Courier New', Courier, monospace;
}


.logo {
  margin-left: 20px;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 10px;
}

.menu {
  padding: 5px;
  margin: 1em;
  font-size: 130%;
  line-height: 130%;

}

.menu li {
  list-style-type: none;
  padding: 7px;
}

.tabs .tab{
  display: block;
}

nav .tabs .tab a[data-switcher]{
 cursor: pointer;
  
}

nav .tabs .tab.is-active a[data-switcher] {
  color: #6d0098;
  text-decoration: underline wavy #00652a 1px;
  
}

.pages .page{
  display: none;
}

.pages .page.is-active{
  display: block;
}

#TOC {
  float: left;
  border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}
#TOC:before { content: "Page Contents"; }
#TOC ul { padding-left: 0.5em; margin-left: 0.5em; list-style-type: none; }

dt code { font-weight: bold; }
dd p { margin-top: 0; }

object, embed { outline: 0; }

