:root{
  cursor: url("../assets/pointer.ico"), auto;
}

pre {
  border: 1px dotted gray;
  background-color: #000000;
  color: 00e41b;
  padding: 0.5em;
}
code { font-family: monospace; }
h1 a, h2 a, h3 a, h4 a, h5 a { text-decoration: none; color: 00e41b; }
a img {border: none;}
h1, h2, h3, h4, h5 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #00ff1e;
  clear: both;
}
h1 { font-size: 130%; border-bottom: 1px dotted #00a213; border-top: 1px dotted #00a213;}
h2 { font-size: 110%; }
h3 { font-size: 95%; }
h4, h5 { font-size: 90%; font-style: italic; }

h1.title {
  font-size: 200%;
  font-weight: bold;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  text-align: left;
  border: none;
  font-family:'Courier New', Courier, monospace;
  color: #00e41b;
  
}

h1.subtitle{
  font-size: 150%; border-bottom: 1px dotted #00a213;
  text-align: center;
}
p{
  color: #1f8822;
  text-align: justify;
}

body {
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 15em;
  max-width: 50em;
  border-left: 1px solid #00ff1e;
  border-right: 1px solid #00ff1e;
  color: #009511; 
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 115%;
  line-height: 140%;
  background-color: #000000;
  overflow-x: hidden;
  min-height: 100vh;
  
}

a{
    color: #b90097;
    text-decoration: none;
}

.gallery{
  display: block;
  margin: auto;
}

.coming-soon{
  color: #949900;
}

a.projects{
  font-size: 110%;
  font-style: italic;
  font-weight: bolder;
}

li .projects {
  list-style: none;
  border-bottom: 1px dotted #00652a;
  margin-bottom: 10px;
  padding: 5px;
}


a:hover {
    color: #7f00c9;
    cursor: url("../assets/click.ico"), auto !important;
    
}


.footer {
  padding-top: 1em;
  font-size: 70%;
  color: gray;
  text-align: center;

}
.caption{
  font-size: 70%;
  text-align: center;
  color: #95007a;
}

.sidebar {
  position: fixed;
  left: 0; top: 0;
  width: 13em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Arial Narrow', Arial, sans-serif;
}

.updates{
  position: relative;
  left: 0; top: 0;
  margin: 0px;
  
}

.update-title{
  color: #ffffff !important;
  
}

.updates li{
  color: #00ff22;
  text-align: right;
  list-style-type: none;
  font-size: small;
  
}

.logo {
  margin-left: 20px;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 10px;
}

.menu {
  padding: 5px;
  margin: 1em;
  font-size: 130%;
  line-height: 130%;

}

.menu li {
  
  list-style-type: none;
  padding: 7px;
}

.tabs .tab{
  display: block;
}

nav .tabs .tab a[data-switcher]{
 cursor: pointer;
  
}

nav .tabs .tab.is-active a[data-switcher] {
  color: #7f00c9;
  text-decoration: underline wavy #00652a 1px;
  
}

blockquote{
  color: #50007e;
}

.blog-index{
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 90%;
}

.blog-list li{
  list-style: disc;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: black;
}

::-webkit-scrollbar-thumb{
    background-color:#b90097;
    opacity: 50%;
}

::-webkit-scrollbar-thumb:hover{
    background-color:#7f00c9;
    opacity: 50%;
}

.hit{
  position: fixed;
  left: 0; bottom: 0;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0px;
  margin-bottom: 1em;
}

h1.title.blog{
  border-bottom: 1px dotted #00ff1e;
}

#TOC {
  float: left;
  border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}
#TOC:before { content: "Page Contents"; }
#TOC ul { padding-left: 0.5em; margin-left: 0.5em; list-style-type: none; }

dt code { font-weight: bold; }
dd p { margin-top: 0; }

object, embed { outline: 0; }

